doctype html
html
	head
		title Examples Onmind Plugins
		link(rel="stylesheet", href="css/styles.min.css")
	body
		script(src='vendors/jQuery/jquery.min.js')
		script(src='js/onmind.plugins.min.js')
